name: Publish Python Package to PyPI

on:
  push:
    tags:
      - 'v*'   # Triggers the workflow on version tags, like v1.0, v1.1, etc.

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install setuptools, wheel, and build tools
        run: pip install setuptools wheel build

      - name: Build package
        run: python -m build

      - name: Install Twine
        run: pip install twine

      - name: Publish to PyPI
        run: |
          twine upload dist/* -u __token__ -p ${{ secrets.PYPI_API_TOKEN }}
